/* BASIC STYLES HERE */
.icon{
    height: 40px;
    width: 40px;
}

.opa{
    opacity: 85%;
}

.show{
    cursor: pointer;
}
body{
    background-size: cover;
    color: white;
    text-shadow: 1px 1px 5px black;
}

